<p>array works!</p>


<div>
    <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
        <div formArrayName="all">
            <ng-container *ngFor="let abc of reactiveForm.get('all').controls; index as i">
                <div formGroupName="{{i}}">
                    <div style="margin-top: 30px;">
                        <label>Name: </label>
                        <input formControlName="name" type="text" required>
                    </div>
                    <div>
                        <label>Age: </label>
                        <input formControlName="age" type="number" required>
                    </div>
                    <div>
                        <label>Email: </label>
                        <input formControlName="email" type="email" required>
                    </div>
                    <div>
                        <button type="submit" class="mt">Submit</button>
                    </div>
                    <div>
                        <button (click)="onRemove(i)" class="mt">Remove</button>
                    </div>
                </div>
            </ng-container>
            <div>
                <button (click)="onAdd()" class="mt">Form Add</button>
            </div>
        </div>
    </form>
</div>
