<p>array works!</p>


<div>
    <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()" class="form">
        <div formArrayName="all">
            <ng-container *ngFor="let abc of reactiveForm.get('all').controls; index as i">
                <div formGroupName="{{i}}">
                    <div style="margin-top: 30px;">
                        <label class="form-label">Name</label>
                        <input class="form-control" formControlName="name" type="text" required>
                    </div>
                    <div>
                        <label class="form-label">Age</label>
                        <input class="form-control" formControlName="age" type="number" required>
                    </div>
                    <div>
                        <label class="form-label">Email: </label>
                        <input class="form-control" formControlName="email" type="email" required>
                    </div>
                    <div>
                        <button type="submit" class="mt btn btn-primary">Submit</button>
                    </div>
                    <div>
                        <button (click)="onRemove(i)" class="mt btn btn-danger">Remove</button>
                    </div>
                </div>
            </ng-container>
            <div>
                <button (click)="onAdd()" class="mt btn btn-warning">Form Add</button>
            </div>
        </div>
    </form>
</div>
